*{
    margin: 0px;
    padding:0px;
}
.container-menu{
    background-color: rgba(15, 27, 24, 0.95);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-photo{
    height:50px;
    cursor: pointer;
}
.manus{
    display: flex;
}
.list{
   margin-right: 10px; 
   padding: 7 px;
   font-size: 18px;
   cursor: pointer;
}
.list:hover{
    color: blue;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./images/background.png"), linear-gradient(45deg, #000, #474343);
}
.banner-text{
 
}

.banner-img{
    width: 300px;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
   padding: 10px 20px; 
   background-color: red;
   color: white;
   border: none;
   cursor: pointer;
   
}
.btn:hover{
    color:blue ;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about{
    text-align: center;
    padding: 40px;
    
}
.box{
    width: 230px;
    height: 300px;
    box-shadow: 5px 5px 100px gray;
    color: white;
    background-color: black;
    text-align: center;
    padding:10px
}
.icon{
    width:100px
}
.box-btn{
    background-color: grey;
    margin-top: 40px;
}

.title-head{
    padding:10px
}
.service{
    color: white;
    background-color: black;
}
.service-container{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
   
}
.footer-box{
    width: 230px;
    height: 200px;
    color: white;
    list-style: none;
    padding:10px
    

}
.footer-img{
   width: 100px;

}
.copy{
    background-color: black;
    color: white;
    text-align: center;
}